@import url('https://fonts.googleapis.com/css?family=Roboto:300');
h1 {font-family: 'Roboto', sans-serif; color: white; }
h2 {font-family: 'Roboto', sans-serif; color: white; }
h3 {font-family: 'Roboto', sans-serif; color: white; }
h4 {font-family: 'Roboto', sans-serif; color: white; }
h5 {font-family: 'Roboto', sans-serif; color: white; }
h6 {font-family: 'Roboto', sans-serif; color: white; }
p {font-family: 'Roboto', sans-serif; color: white; }
span {font-family: 'Roboto', sans-serif; color: white; }
header { background-color: #EAEAEA; width: 100%; height: 15%; position: fixed; margin: 0px; border: 10px;}
body { background-color: #030303; }
.header { text-align: center; font-family: 'Roboto', sans-serif; color: white;}
