body {
 height: 100%;
}
.nav {
 color: #ffffff;
 display: inline-block;
 padding: 12px 32px;
 border: none;
 background-color: transparent;
}
.nav-content {
  display: none;
  background-color: #ff0f0;
}
.nav:hover .nav-content {
 display: block; 
}
p {
color: #00bbff;
}
body {
  background: -webkit-gradient( linear, left top, right bottom, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ) fixed;
  background: gradient( linear, left top, right bottom, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ) fixed;
  color:transparent;
}
.nav-button {
 width: 100px;
 text-align: center;
 color: #ffffff;
 display: inline-block;
 border: 2px solid #00ffff;
 border-radius: 3px;
 background-color: #00ffff;}
.nav-button:hover {
 color: #00ffff;
 background-color: #ffffff;
 transition-duration: 0.3s;
}
.nav-box {
  width:100px;
  color: #ffffff;
  background-color: #00ffff;
  border: 2px solid #00ffff
  align: center;
}
.nav-box:hover
{
 color: #00ffff
 background-color: #ffffff;
 transition-duration: 0.3s;
}
