     .nav {
 color: #ffffff;
 display: inline-block;
 padding: 12px 32px;
 border: 2px solid #fff0f0;
 border-radius: 3px;
 background-color: #fff0f0;
}
.nav-content {
  display: none;
  background-color: #ffffff;
}
.nav:hover .nav-content {
 display: block; 
}
p {
color: #00bbff;
}
body {
  background-color: #fff0f0
}
.button {
 width: 100%;
 color: #ffffff;
 display: inline-block;
 padding: 12px 64px;
 border: 2px solid #00ffff;
 border-radius: 3px;
 background-color: #00ffff;}
.button:hover {
 color: #00ffff;
 background-color: #ffffff;
 transition-duration: 0.3s;
}
